<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152907388590-b244d0trr27rboban22vrpab0t8q9uuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152907388590-b244d0trr27rboban22vrpab0t8q9uuc</string>
	<key>API_KEY</key>
	<string>AIzaSyBfkAUY_lxvlrXbBjfY59cyX9FLinZxA7U</string>
	<key>GCM_SENDER_ID</key>
	<string>152907388590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bpo.cuponeame</string>
	<key>PROJECT_ID</key>
	<string>cuponeame-372cb</string>
	<key>STORAGE_BUCKET</key>
	<string>cuponeame-372cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152907388590:ios:c46af31c5a6cfa47b5bf3f</string>
</dict>
</plist>